.container
  .content
    .row
      %h2 
        Matching Loves for 
        %a{:href => "/user/#{@user}"} 
          = @user
      %i 
        Reload the page or click 
        %a{:href=>"/"}
          Match Another User
	
      %table{:class => "table table-striped"}
        %tr
          %th Love
          %th Compatibility
          %th Your Matches
          %th Their Matches

        - @loves.each_with_index do |love, index|
          %tr
            %td
              %a{:href => "/user/#{love[1]}"} 
                = love[1]
              in 
              %i= love[0]
            %td
              = love[4] / (1.0 / love[5])
            %td
              - love[2].each do |att|
                %a.btn.btn-success
                  %i.icon-ok.icon-white
                  =att
            %td
              - love[3].each do |att|
                %a.btn.btn-success
                  %i.icon-ok.icon-white
                  =att